h1 {
font-family: Bradley Hand, cursive;
color: white;
}
h2 {
  font-family: Bradley Hand, cursive;
  color: white;
}
p {
 font-family: Bradley Hand, cursive;
}
body {
   background-image: url(https://wallpapertag.com/wallpaper/full/0/9/a/152417-most-popular-purple-background-tumblr-1920x1200.jpg);
}
