h1 {
font-family: Bradley Hand, cursive;
color:dark blue;
}
h2 {
  font-family: Bradley Hand, cursive;
  color: purple;
}
p {
 font-family: Bradley Hand, cursive;
}
body {
   background-image: https://wallpapertag.com/wallpaper/full/0/9/a/152417-most-popular-purple-background-tumblr-1920x1200.jpg ;
}
